---
pageTitle: Archives
permalink: "/{{ locale }}/index.html"
translationKey: "homepage"
---

{% extends "layouts/base.njk" %}

{% block content %}

  <h2 class="title">Articles</h2>
  {% for post in collections.posts_fr %}
    {% if loop.first %}<ul class="post-list">{% endif %}
      <li>
        <article class="post u-flex u-justify-between">
          <a href="{{ post.url }}" class="post u-flex u-justify-between">
            <h3>{{ post.data.title }}</h3>
            <time datetime="{{ post.date | date('Y-MM-DD') }}">{{ post.date | date("DD MMMM[,] Y", locale) }}</time>
          </a>
        </article>
      </li>

    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

{% endblock %}