<!DOCTYPE html>
<html lang="{{ locale }}" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site[locale].metaTitle }}</title>
  <meta name="description" content="{{ site[locale].metaDescription }}"/>
  <script>document.documentElement.classList.remove('no-js');</script>
  <style>{% include "dist/css/main.css" %}</style>

  <!-- open graph -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ site[locale].metaTitle }}">
  <meta property="og:image" content="{{ site[locale].metaImage }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:description" content="{{ site[locale].metaDescription }}">

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:title" content="{{ site[locale].metaTitle }}">
  <meta name="twitter:description" content="{{ site[locale].metaDescription }}">
  <meta name="twitter:image" content="{{ site[locale].metaImage }}">
</head>
<body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
  {% include "partials/siteheader.njk" %}
  <main id="main-content" class="main">
    <div class="inner">
      {% block content %}{% endblock %}
    </div>
  </main>
  <script>{% include "dist/js/app.js" %}</script>
  {# include "partials/sitefooter.njk" #}
</body>
</html>