html, body {
    color: #1a1423;
    font-family: sans-serif;
    background-color: #fafafa;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;   
    letter-spacing: 0.02em; 
    line-height: 25px;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: serif;
    letter-spacing: initial;
    margin: 0;
}

a {
    color: #1a1423;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

pre {
    background-color: #191B2A;
    border-radius: 3px;
    padding: 1em;
    font-family: monospace;
    font-size: 16px;
    color: #39FFBA;
}

p code {
    font-size: 14px;
    font-weight: 800;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.inner {
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.main .inner {
    margin-top: 10em;
}

.back {
    margin-bottom: 2em;
    display: block;
    font-size: 14px;
}

.c-lggnav {
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-evenly;
}

.c-lggnav .c-lggnav__item {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.c-lggnav .c-lggnav__item .c-lggnav__link {
    padding: 1em 0;
    display: block;
    color: #ccc;
}

.c-lggnav .c-lggnav__item.is-active {
    background-color: #000;
}
.c-lggnav .c-lggnav__item.is-active .c-lggnav__link {
    color: #fff;
}

.c-lggnav .c-lggnav__link {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.title {
    font-size: 60px;
}

.post-list {
    margin-top: 3em;
}

.post-list li {
    padding: 0.5em 0;
    border-bottom: 1px solid #DCDCDC;
    transition: 0.4s;
}

.post-list li:hover {
    background: #F5F5F5;
}

.u-flex {
    display: flex;
}

.u-justify-between {
    justify-content: space-between;
}