---
templateClass: 'index'
---
{% extends "layouts/base.njk" %}

{% block content %}
    <h1 class="title">Enter website</h1>
    <p>Choose language above</p>
    <p><a href="https://github.com/lea37/eleventy-multilingual">Github repo</a> - You can directly import it and use it with <a href="https://forestry.io/">Forestry</a></p>
{% endblock %}