---
pageTitle: Index
templateClass: 'index'
---
{% extends "layouts/base.njk" %}

<script>
  var locale = {lang: navigator.language || navigator.userLanguage}
  nunjucks.renderString("{{ lang }}", locale)
</script>
<!-- {% set locale = 'fr' %} -->

{% block content %}
    <h1 class="title js-title">Enter website</h1>
    <p class="js-desc">Choose language above</p>
    <p><a href="https://github.com/lea37/eleventy-multilingual">Github repo</a> - <span class="js-advise">You can directly import it and use it with</span> <a href="https://forestry.io/">Forestry</a></p>
{% endblock %}