<header class="header" role="banner">
  <a href="#main-content" class="u-visually-hidden">{{ site[locale].skipText }}</a>
  <span class="u-visually-hidden">{{site[locale].metaTitle}} : {{pageTitle}}</span>
  {# include "partials/nav.njk" #}
  {% include "partials/langswitch.njk" %}
</header>